<% if Sleep.any? %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Person</th>
        <th>Room</th> 
        <th>Arrival</th>
        <th>Leave</th>
        <th>Days</th>
        <th>Price</th>
        <th>Paid</th>
        <th>Owed</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Sleep.all.each do |sleep| %>
        <tr>
          <td><%= sleep.id %></td>
          <td><%= name_and_description(sleep.person) %></td>
          <td><%= sleep.room.name %></td>
          <td><%= sleep.start %></td>
          <td><%= sleep.end %></td>
          <td><%= sleep.days %></td>
          <td><%= sleep.price %></td>
          <td><%= sleep.total_earned %></td>
          <td><%= sleep.owed %></td>
          <td>👠 <%= link_to "Edit", edit_sleep_path(sleep.id)%></td>
        </tr>
      <% end %>
      <tr style="background-color: #444; color: #eee">
        <td></td>
        <td>Totals</td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= Sleep.all.sum(&:days) %></td>
        <td><%= Sleep.all.sum(:price) %></td>
        <td><%= Sleep.all.sum(&:total_earned) %>
        <td><%= Sleep.all.sum(&:owed) %></td>
        <td></td>
      </tr>
    </tbody>
  </table>
<% else %>
  No sleeps here! Use Rails console to add some.
<% end %>
<br />
<div style="float: right">
  💤 <%= link_to "Add sleep", new_sleep_path %>
</div>