<% if Payment.any? %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Sent</th>
        <th>Sender</th> 
        <th>Receiver</th>
        <th>Amount</th>
        <th>Unallocated</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Payment.all.each do |payment| %>
        <tr>
          <td><%= payment.id %></td>
          <td><%= payment.sent_at %></td>
          <td><%= payment.sender.name %></td>
          <td><%= payment.receiver.name %></td>
          <td><%= payment.amount %></td>
          <td><%= payment.unallocated %></td>
          <td>
            <ul>
              <li>🔎 <%= link_to "Allocations", payment_allocations_path(payment.id) %></li>
              <li>💪 <%= link_to "Edit", edit_payment_path(payment.id)%></li>
            </ul>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No payments here! Use Rails console to add some.
<% end %>
<br />
<div style="float: right">
  💸 <%= link_to "Add payment", new_payment_path %>
</div>