<% if Transaction.any? %>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Sent</th>
        <th>Sender</th> 
        <th>Receiver</th>
        <th>Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% Transaction.all.each do |transaction| %>
        <tr>
          <td><%= transaction.id %></td>
          <td><%= transaction.sent_at %></td>
          <td><%= transaction.sender.name %></td>
          <td><%= transaction.receiver.name %></td>
          <td><%= transaction.amount %>
          <td>💪 <%= link_to "Edit", edit_transaction_path(transaction.id)%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  No transactions here! Use Rails console to add some.
<% end %>
<br />
<div style="float: right">
  💸 <%= link_to "Add transaction", new_transaction_path %>
</div>