<!DOCTYPE html>
<html>
  <head>
    <title>Hostelboss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <style>
      #main_nav {
        padding-bottom: 16px;
      }

      #main_nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }

      #main_nav li {
        float: left;
      }

      #main_nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      #main_nav li a:hover {
        background-color: #111;
      }

      table {
        border-collapse: collapse;
        width: 100%
      }

      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }

      thead {
        background-color: #222;
        color: #eee;
      }

      tbody tr:hover {
        background-color: #eee;
      }
    </style>
  </head>

  <body>
    <div id="app">
      <nav id="main_nav">
        <ul>
          <li><%= link_to "Rooms", rooms_path %></li>
          <li><%= link_to "People", people_path %></li>
          <li><%= link_to "Payments", payments_path %></li>
          <li><%= link_to "Stays", stays_path %></li>
          <% if logged_in? %>
            <li style="float: right"><%= link_to "Log out", logout_path %></li>
            <li style="float: right"><%= link_to current_user.username, user_path(current_user.id) %></li>
          <% else %>
            <li style="float: right"><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </nav>
      <%= yield %>
    </div>
  </body>
</html>
